.feature-icon {
  align-self: center;
}
.feature-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}

.feature-description {
  font-size: 14px;
  color: $secondary-text-color;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.feature-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &-icon {
    display: flex;
    justify-content: center;
    background-color: $secondary-background-color;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
//768
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
  }
  .feature-item {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    flex-basis: calc((100% - 60px) / 2);
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

//1200
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
  .feature-item {
    flex-basis: calc((100% - 120px) / 4);
  }
}
