//480&768
.subtitle {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-bottom: 30px;
}

//1200
@media screen and (min-width: 1200px) {
  .subtitle {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
